Parkia speciosa
Brotia spadicea
Forficula
Hydropsyche sparna
Nemacheilus spiniferus
Megadarma spasma
Psysocyclus
Symplocos spicata
Animalia
Cynopterus sphinx
Ansonia spinulifer
Thysanantus spathulistipus
Pyrrhobryum spiniforme
Pyrrobryum spiniforme
Eonycteris spelea
Spinaria spinator
Macroteleia spinitibia
Andrallus splendens
Phthitia
Engelhardtia spicata
Gea spinipes
Spartaeus spimanus
Passiena spinicus
Spartaeus spiniamatus
Poriskina
Medinilla speciosa
Engelhardia spicata
Anisota
Acontistoptera
Lagerstroemia speciosa
Licualia spinosa
Alstonia spectabilis
Costus speciosus
Acanthopora spicifera
Conus sponsalis
Pachyseris speciosa
Eulophia spectabilis
Pomatocalpa spicata
Rhacopilum spectabile
Rhizogonium spiniforme
Cinnyris sperata
Thyme -n
Bean sprout -n
Grassland sparrow -n
snow crab -n