[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
responses = "*"

[packages]
python-dotenv = "*"
requests = "*"
pandas = "*"
openpyxl = "*"
thefuzz = {extras = ["speedup"], version = "*"}
pykew = "*"
